---
environment:
  matrix:
    - nodejs_version: '6'
    - nodejs_version: '7'
    - nodejs_version: '8'
install:
  - ps: Install-Product node $env:nodejs_version
  - npm -g install yarn
  - yarn install
  - node --version
  - npm --version
  - yarn --version
matrix:
  fast_finish: false  # prevent finishing build when a job fails
build: 'off'
version: '{build}'
max_jobs: 3
test_script:
  - yarn test
after_test:
  - .\node_modules\.bin\nyc report --reporter lcov
  - type .\coverage\lcov.info | .\node_modules\.bin\coveralls
  - .\node_modules\.bin\codecov
